# helm upgrade --install -n artifactory artifactory jfrog/artifactory-oss --values artifactory/values.yml

artifactory:
  observability:
    enabled: false
  postgresql:
    enabled: false
  artifactory:
    persistence:
      existingClaim: artifactory-artifactory-2

  nginx:
    enabled: false

  ingress:
    enabled: true
    hosts:
      - artifactory.nathanrahm.com
    path: /
    defaultBackend:
      enabled: false
    className: "nginx"
    annotations:
      nginx.org/client-max-body-size: 500m
      nginx.ingress.kubernetes.io/proxy-body-size: 500m
      cert-manager.io/cluster-issuer:  letsencrypt-prod
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
#      nginx.ingress.kubernetes.io/enable-modsecurity: "true"
#      nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"
#      nginx.ingress.kubernetes.io/modsecurity-transaction-id: "$request_id"
    tls:
      - hosts:
          - artifactory.nathanrahm.com
        secretName: artifactory-ingress-tls
