apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/provisioned-by: cluster.local/nfs-subdir-external-provisioner
  finalizers:
    - kubernetes.io/pv-protection
  name: pvc-2f6bc2bd-fa7b-4ae6-8224-6dcb12b672d3
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 10Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: postgres-1
    namespace: postgres-18
  mountOptions:
    - nolock
    - soft
    - rw
  nfs:
    path: /export/PersistentVolumes1/postgres-18-postgres-1-pvc-2f6bc2bd-fa7b-4ae6-8224-6dcb12b672d3
    server: 10.0.0.195
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-client
  volumeMode: Filesystem
