# kubectl apply -n postgres-18 -f postgres-cloudnative/postgres-cluster.yaml

apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1

  primaryUpdateStrategy: unsupervised

  storage:
    size: 10Gi

  resources:
    requests:
      cpu: "1"
      memory: "4G"
    limits:
      cpu: "4"
      memory: "4G"

  backup:
    retentionPolicy: "7d"
    barmanObjectStore:
      destinationPath: s3://postgres-backups
      endpointURL: http://10.0.0.195:9000
      s3Credentials:
        accessKeyId:
          name: postgres-backup-creds
          key: MINIO_USER
        secretAccessKey:
          name: postgres-backup-creds
          key: MINIO_PASSWORD
      wal:
        compression: gzip
      data:
        compression: gzip

  externalClusters:
    - name: postgres-backup
      barmanObjectStore:
        destinationPath: s3://postgres-backups
        endpointURL: http://10.0.0.195:9000
        s3Credentials:
          accessKeyId:
            name: postgres-backup-creds
            key: MINIO_USER
          secretAccessKey:
            name: postgres-backup-creds
            key: MINIO_PASSWORD
        wal:
          compression: gzip
        data:
          compression: gzip

  bootstrap:
    # Restore from backup
#    recovery:
#      source: postgres-backup
    # Create initial DB
#    initdb:
#      database: defaultdb
#      owner: defaultuser
#      postInitSQL:
#        - "CREATE USER nextcloud WITH PASSWORD 'pw123';"
#        - "CREATE USER keycloak WITH PASSWORD 'pw123';"
#        - "CREATE USER localmovies WITH PASSWORD 'pw123';"
#        - "CREATE USER grafana WITH PASSWORD 'pw123';"
#        - "CREATE DATABASE nextcloud with owner nextcloud;"
#        - "CREATE DATABASE keycloak with owner keycloak;"
#        - "CREATE DATABASE localmovies with owner localmovies;"
#        - "CREATE DATABASE grafana with owner grafana;"
