apiVersion: v1
kind: PersistentVolume
metadata:
  finalizers:
    - kubernetes.io/pv-protection
  name: pv-jenkins-2
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 150Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: jenkins-jenkins-2
    namespace: jenkins
  mountOptions:
  - nolock
  - soft
  - rw
  nfs:
    path: /export/PersistentVolumes1/jenkins-jenkins-pvc-b3ab1453-93af-4ab0-a03d-42d3cc7220bb
    server: 10.0.0.195
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-client
  volumeMode: Filesystem
