# helm upgrade --install -n audiobookshelf audiobookshelf ./audiobookshelf

### Apply existing volumes configuration if restoring from backup

ingress:
  hostname: audiobooks.nathanrahm.com

image:
  registry: ghcr.io/advplyr
  tag: 2.32.1

persistence:
  capacity:
    audiobooks: 100Gi
    config: 5Gi
    metadata: 25Gi
  existingClaim:
    audiobooks: audiobookshelf-audiobooks
    config: audiobookshelf-config
    metadata: audiobookshelf-metadata

service:
  timezone: "America/Los_Angeles"